<!DOCTYPE html>
<html lang="en" >

  <head>
    <meta charset="UTF-8">
    <title>Lyrics Player</title>
    
    
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600'>

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/new-skeleton.css">

    <script src="js/util.js"></script>
  </head>

  <body>


      <audio id="player" > Your browser does not support HTML5 audio. </audio>
      <div id="timeline">
        <div id="playhead"></div>
      </div>
            
      <div id="controls" class="controls">

        <div id="div_play"> <button id="btn_play">Play</button> </div>
        <div id="div_pause" style="display:none;"> <button id="btn_pause">Pause</button> </div>
        <div id="div_stop" style="display:none;"> <button id="btn_stop">Stop</button> </div>
        
        <button id="btn_prev">Prev</button> 

        <button id="btn_next">Next</button> 

      </div>

    <div class="content">




      <div id="list" style="display: none; width: 40%; overflow: scroll;"></div>
      <div class="lyrics" style="display: inline-block"></div>
    </div>

    <div class="player">
       <div class="left"></div>
       <div class="right">
          <div class="top">
             <a class="song" id="trackName">Crap</a>
             <a class="artist" id="trackArtist" ></a>
          </div>
          <div class="bottom">



          </div>
       </div>
    </div>




    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <!--
    <script src='https://codepen.io/z-/pen/b80a82399ce296a5ae898314d25aab44'></script>
    <script src='https://codepen.io/z-/pen/2c7364f84f43c21e994e4fb7b08d6ec8'></script>
    <script src='https://codepen.io/z-/pen/3f1e5b5c78c8e29dac7cd9b368c9588b'></script>
    <script src='https://codepen.io/z-/pen/7ea46ddd3f67af5c54c6a85b62e3bf6f'></script>
    <script src='https://codepen.io/z-/pen/f04c48e49111ecc45c269f7982f4d316'></script>
    <script src='https://codepen.io/z-/pen/3fd7d80820b071e01bf9eb0c0c6e1fe3'></script>
    <script src='https://codepen.io/z-/pen/603dce1db8e57ac8da6c8b1cc8c12b98'></script>
    <script src='https://codepen.io/z-/pen/a0fabb58a6dc479728ccc8e33352c007'></script>
    <script src='https://codepen.io/z-/pen/3957cdad8abc3da137905da0c1b89ee7'></script>
    <script src='https://codepen.io/z-/pen/63c6bbb02bfa1dfbeba4d30737a492c6'></script>
    <script src='https://codepen.io/z-/pen/74bbe3852bf75d66a7a0c9534e0b6618'></script>
    <script src='https://codepen.io/z-/pen/4faa8297d50d678f6292098e96079f6e'></script>
    <script src='https://codepen.io/z-/pen/0a1bedbb8ca05b9afd329264fca7b921'></script>
    <script src='https://codepen.io/z-/pen/f883f8c6d04e206547ab007f5b93bc9c'></script>
    <script src='https://codepen.io/z-/pen/981373951584da45d4d6366094974b6d'></script>
    <script src='https://codepen.io/z-/pen/a3625ac432ead8e20af8f059881dca35'></script>
    <script src='https://codepen.io/z-/pen/a3e71dad89f8e720aa76a4cea7d88800'></script>
    <script src='https://codepen.io/z-/pen/9e994e381e79fecd11ec069592abc381'></script>
  -->

    <script src="/js/player.js"></script>
    <script  src="js/index.js"></script>

  </body>
</html>
