<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/tabs.css">
		<!-- <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> -->
	</head>
	
	<body>

		<div id="fixed-controllers" >
			<div class="top" id="cover-thumb" >

				Crap!

			</div>
			
			<div class="top" id="audioplayer" >
							
				<div style="font-size: 150%;">
					<strong><div class="player-track-info" id="track-artist"> </div></strong>
				</div>

				<div style="font-size: 110%;">
					<strong><div class="player-track-info" id="track-album"> </div></strong>
				</div>
				<div>
					<div class="player-track-info" id="track-name"> </div>  
				</div>

				<div id="timeline-container">
					<div id="timeline">
						<div id="playhead"></div>
					</div>
									
				</div>
				
			
				<audio id="player" > Your browser does not support HTML5 audio. </audio>

				<div id="controls" class="controls">

					<div class="player-control" id="div_play"> <button id="btn_play">Play</button> </div>
					<div class="player-control"  id="div_pause" style="display:none;"> <button id="btn_pause">Pause</button> </div>
					<div class="player-control"  id="div_stop" style="display:none;"> <button id="btn_stop">Stop</button> </div>
					
					<button id="btn_prev">Prev</button> 

					<button id="btn_next">Next</button> 

					<div style="display: inline-block;" id="track-time">00:00</div> <div style="display: inline-block;">/</div> <div style="display: inline-block;" id="track-duration"> 00:00</div>
				</div> 

			</div>
		
			<div class="alert-background" id="alert" ></div>
			
			<div id="search-box"> 
				Search:
				<div id="search-reduced" >
					
							<input type="search" id="search" placeholder="track, artist or album" />
							<div id="search-results"></div>
					
				</div>

			</div>

			<div class="marked-control">
				<div id="marked-display"><bold>Marked: <div id="marked-counter"> 0</div> </bold></div>
				<div class="action" id='marked-add'> <p><a class="marked" href='javascript:' >add all to playlist</a></p></div>
			</div>
			

		</div>
		
		<div class="top-spacer"></div>
		
		<div id="cover-big">
			<div id="cover-big-transparency" >
				<div id="list"></div>
				<div id="play-list-area">
					<div class="css3-tabstrip">
					    <ul>
					        <li id="tab1">
					            <input type="radio" name="css3-tabstrip-0" checked="checked" id="css3-tabstrip-0-0" />
					            <label for="css3-tabstrip-0-0" class="first">PlayList1</label>
					            <div id="Playlist1" class="playlist-content" style="border-top: 1px solid green;" >
					            	<table class="playlist">
					            		<thead>Playlist 1</thead>

					            	</table>
					            </div>
					        </li>
					        <li id="tab2">
					            <input type="radio" name="css3-tabstrip-1" id="css3-tabstrip-0-1" />
					            <label for="css3-tabstrip-0-1">PlayList2</label>
					            <div id="Playlist2" class="playlist-content" style="border-top: 1px solid green;" >
				            		<table class="playlist">
					            		<thead>Playlist 2</thead>

					            	</table>
					            </div>
					        </li>
					        <li id="tab3">
					            <input type="radio" name="css3-tabstrip-2" id="css3-tabstrip-0-2" />
					            <label for="css3-tabstrip-0-2">PlayList3</label>
					            <div id="Playlist3" class="playlist-content" style="border-top: 1px solid green;" >
					            	<table class="playlist">
					            		<thead>Playlist 3</thead>

					            	</table>
					            </div>
					        </li>
					        <li id="tab4">
					            <input type="radio" name="css3-tabstrip-3" id="css3-tabstrip-0-3" />
					            <label for="css3-tabstrip-0-3">PlayList4</label>
					            <div id="Playlist4" class="playlist-content" style="border-top: 1px solid green;" >
					            	<table class="playlist">
					            		<thead>Playlist 4</thead>

					            	</table>
					            </div>
					        </li>
					        <!-- <li id="tab5">
					            <input type="radio" name="css3-tabstrip-4" id="css3-tabstrip-0-4" />
					            <label for="css3-tabstrip-0-4">PlayList4</label>
					            <div id="Playlist5" class="playlist-content" style="border-top: 1px solid green;" >
					            	<table class="playlist">
					            		<thead>Playlist 5</thead>

					            	</table>
					            </div>
					        </li>
					        <li id="tab6">
					            <input type="radio" name="css3-tabstrip-5" id="css3-tabstrip-0-5" />
					            <label for="css3-tabstrip-0-5">PlayList6</label>
					            <div id="Playlist6" class="playlist-content" style="border-top: 1px solid green;" >
					            	<table class="playlist">
					            		<thead>Playlist 6</thead>

					            	</table>
					            </div>
					        </li>
					        <li id="tab7">
					            <input type="radio" name="css3-tabstrip-6" id="css3-tabstrip-0-6" />
					            <label for="css3-tabstrip-0-6">PlayList6</label>
					            <div id="Playlist7" class="playlist-content" style="border-top: 1px solid green;" >
					            	<table class="playlist">
					            		<thead>Playlist 7</thead>

					            	</table>
					            </div>
					        </li>
					        <li id="tab8">
					            <input type="radio" name="css3-tabstrip-7" id="css3-tabstrip-0-7" />
					            <label for="css3-tabstrip-0-7">PlayList8</label>
					            <div id="Playlist8" class="playlist-content" style="border-top: 1px solid green;" >
					            	<table class="playlist">
					            		<thead>Playlist 8</thead>

					            	</table>
					            </div>
					        </li> -->
					    </ul>
					</div>
				</div>
			</div>
		</div>


		<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
		<script src="js/util.js"></script>
		<script src="js/search.js"></script>
		<script src="js/playlist.js"></script>
		<script src="js/player.js"></script>

		
		
		<script>
			//test,experiments etc
			/*element	= document.querySelector('#play-list-area * table > tbody')
			current = element.innerHTML;
			A = new Array('1 crap','2 craps', '3 craps')
			for(i in A){
				current += '<tr><td>' + A[i] + '</td></tr>';
				console.log(current)
				element.innerHTML = current
			}*/

		</script>

	</body>
</html>