<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/tabs.css">
		<script src="js/playlist.js"></script>
		<script src="js/util.js"></script>
	</head>
	
	<body>
		<script>
			playlist = new Playlist()
			playlist.store()
			anotherPlaylist = playlist.retrieve(playlist.name)
			console.log(anotherPlaylist)
		</script>
		<div id="fixed-controllers" >
			<div class="top" id="cover-thumb" >

				Crap!

			</div>
			
			<div class="top" id="audioplayer" >
							
				<div style="font-size: 150%;">
					<strong><div class="player-track-info" id="track-artist"> </div></strong>
				</div>

				<div style="font-size: 110%;">
					<strong><div class="player-track-info" id="track-album"> </div></strong>
				</div>
				<div>
					<div class="player-track-info" id="track-name"> </div>  
				</div>

				<div id="timeline-container">
					<div id="timeline">
						<div id="playhead"></div>
					</div>
									
				</div>
				
			
				<audio id="player" > Your browser does not support HTML5 audio. </audio>

				<div id="controls" class="controls">

					<div class="player-control" id="div_play"> <button id="btn_play">Play</button> </div>
					<div class="player-control"  id="div_pause" style="display:none;"> <button id="btn_pause">Pause</button> </div>
					<div class="player-control"  id="div_stop" style="display:none;"> <button id="btn_stop">Stop</button> </div>
					
					<button id="btn_prev">Prev</button> 

					<button id="btn_next">Next</button> 

					<div style="display: inline-block;" id="track-time">00:00</div>
				</div> 

			</div>
		

			<div id="search-box"> 
				Search:
				<div id="search-reduced" >
					
							<input type="search" id="search" placeholder="track, artist or album" />
							<div id="search-results"></div>
					
				</div>
				
			</div>
			

		</div>
		
		<div id="cover-big">
			<div id="list"></div>
			<div id="play-list-area">
				


				<div class="css3-tabstrip">
				    <ul>
				        <li>
				            <input type="radio" name="css3-tabstrip-0" checked="checked" id="css3-tabstrip-0-0" /><label for="css3-tabstrip-0-0" class="first">PlayList1</label>
				            <div id="playlist-1" class="playlist-content" style="border-top: 1px solid green;" >Playlist 1</div>
				        </li><li>
				            <input type="radio" name="css3-tabstrip-0" id="css3-tabstrip-0-1" /><label for="css3-tabstrip-0-1">PlayList2</label>
				            <div id="playlist-2" class="playlist-content" style="border-top: 1px solid green;" >Playlist 2</div>
				        </li><li>
				            <input type="radio" name="css3-tabstrip-0" id="css3-tabstrip-0-2" /><label for="css3-tabstrip-0-2">PlayList3</label>
				            <div id="playlist-3" class="playlist-content" style="border-top: 1px solid green;" >Playlist 3</div>
				        </li>
				    </ul>
				</div>


			</div>
		</div>


	
		<script src="js/player.js"></script>
		<script src="js/search.js"></script>
		
	</body>
</html>