
@font-face {
	font-family: Quicksand;
	src: url(/css/fonts/Quicksand/Quicksand-Light.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    overflow-y: hidden;
}
body {
	background-color: #575758;

	/*background-image: linear-gradient(to right, #575758 , #121212);*/
}

ul {
	list-style: none;
}

a{
	color: #242424;
}

a:link {
	text-decoration: none;
	color: #242424;
}

a:visited {
	text-decoration: none;
	color: #242424;
}

a:hover {
	text-decoration: none;
	color: #DBDBDB;
}


table {
	background-color: lightgray;
	
}


*:focus {
    outline: none;
}

#fixed-controllers{
	display: table-cell;
	position:fixed;
	z-index:10;
}




div.top-spacer {
	display: table-cell;
	height: 25vh;
	width: 100vw;
	background-color: #454545;
}

div.top {
	display: table-cell;
	height: 150px;
	width: 100vw;
}

#cover-thumb {
	background-color: darkgray;
/*	background-image: url('/mp3/Exodus/01 Studio/2005-Shovel Headed Kill Machine/cover-thumb.png');*/
	width: 10vw;
	min-width: 170px;
}


div.player-track-info {
	display: inline-block;
	color: #DBDBDB;
}

#audioplayer {
	background-image: linear-gradient(to right, #575758 , #121212);
	padding-left: 2vh;
	padding-top: 1vw;
}

#timeline{
	width: 20vw;
	height: 1px;
	background: #dbdbdb;
	margin-top: 1vh;
	padding-top: 2px;
}

#playhead{
	dispay:box;
	width: 10px;
	height: 10px;
	background: #42b30b;
	opacity: .95;
	border: 1px solid lightblue;
	margin-top: -5px;
	transform: rotate(45deg);
	box-shadow: 4px 1px 4px #494949;
}

div.controls {
	display: inline-block;
	padding-top: 1vh;
}

div.player-control {
	display:inline-block;
	margin-top: 1vh;
}


#search-box {
	margin:auto;
    text-align:center;
	padding-top:1.2vh;
	width: 100%;
	/*background-image: linear-gradient(to right, #6d6d6d , #dbdbdb);*/
	background-color: #242424;
	color: #DBDBDB;
	font-size: 16pt;
}

#search-results {
	height: 60vh;
	overflow: none;
	overflow-x: hidden;
	overflow-y: auto;
	/*border: 1px solid blue;*/
	display: none;
	text-align: left;
	position: fixed;
	background-color: transparent;
	font-size: 10pt;
}


table.results{
	margin:0;
	color: #242424;
	border-collapse: collapse;
	width: 100%;
	min-width: 60vw;

}

th.results {
	font-weight: bold;
	text-align: center;
	font-size: 12pt;
	/*position: relative;*/
	position: sticky;
	top:0;
    background-color:#494949;
    color: #DBDBDB;
    border-right: 2px solid green;
    z-index:5;
}

th.last {
	border-right: none;
}

tr.results {
	height: 1vh;
}

td.results {
    border: 1px solid #b6b6b6;
	padding-left: .5vw;
}

td.results:hover {
	background-image: linear-gradient(to right,green,#121212);
	color: #DBDBDB;
}

td.results:hover > a {
	color: #DBDBDB;
}

td.results > a:hover {
	color: #DBDBDB;
}

a.results:link {
	color: #242424;
	font-weight: normal;
}

a.results:visited {
	color: #242424;
	font-weight: normal;
}

a.results:hover {
	text-decoration: none;
	font-weight: bold;
}

::-webkit-scrollbar {
width: 4px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(8,120,8,1); 
}


/* Fix the result scroll on anchors target */
*:target::before {
  content: "";
  display: block;
  /*height: 250px;  fixed header height*/

}


#search-reduced {
	font-size: 14pt;
	text-align: center;
	width: 60vh;
	display: inline-block;
	padding-bottom: 12px;
	text-align: left;
}


#search {
	background-color: #DBDBDB;
	border: none;
	height: 40px;
	width: 88%;
	border-radius: 2px;
	padding-left: 1vw;

}


#search::placeholder { 
	font-size: 14pt;
	color: #B6B6B6; 
}


#cover-big{
	margin: 0;
	width: 100vw;
	height: 100%;
	display: inline-flex;
	/*background-image: url('/mp3/Exodus/01 Studio/2005-Shovel Headed Kill Machine/cover-big.png');*/
	
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	z-index: -100;
}

#cover-big-transparency{
	margin: 0;
	width: 100vw;
	height: 100%;
	display: inline-flex;
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-position-y: 220px;
	background-color: rgba(60,60,60,.7);	
	
}



#list {
	color: #B6B6B6;
	width: 80vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	display: inline-block;
}


#play-list-area {
	padding-left: 1vw;
	color: #B6B6B6;
	width: 70vw;
	display: inline-block;	
}


.playlist-content {
	background-color: transparent;
	color: #DBDBDB;
	/*border-top: 2px solid transparent;
	border-image: linear-gradient(to right,green 0%,transparent 80%);
	border-image-slice: 1;*/
	border-top: 2px solid green;
}

.list-artist-title {
	font-size:150%;
	font-weight: bold;
}




li.album {
	padding-top: 0;
	font-size: 14pt;
	font-weight: bold;
}


div.artist-vertical-spacer{
	padding-bottom: 10%;
	display:block;
	color: transparent;
}

div.album-vertical-spacer {
	padding-top: 2%;
	padding-bottom: 0;
	height:0;
}

li.track {
	color: black;
	font-size: 13pt;
	padding-top: 1.5%;
	padding-left: 40px;
	padding-bottom: 1.5%;
	margin-left: -40px;
	transition: .3s;
}

li.track >a {
	z-index: 1;
	transition: .3s;
}

li.track > a:link {
	text-decoration: none;
	color: #111111;
}

li.track > a:visited {
	text-decoration: none;
	color: yellow;
}

li.track > a:hover {
	text-decoration: none;
	color: #B6B6B6;
}

li.track:hover{
	background-image: url("/img/full_list_highlight.png");
	background-repeat: no-repeat;
	background-position-x: -10px;
/*	background-position-y: 15px;*/
	position: relative;
	background-size: 50% 90%;
	
	
	
}




