
@font-face {
	font-family: Quicksand;
	src: url(/css/fonts/Quicksand/Quicksand-Light.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    overflow-y: hidden;
}
body {
	background-color: #3C3C3C;
	overflow:hidden;
	/*background-image: linear-gradient(to right, #575758 , #121212);*/
}

ul {
	list-style: none;
}

a{
	color: #242424;
}

a:link {
	text-decoration: none;
	color: #242424;
}

a:visited {
	text-decoration: none;
	color: #242424;
}

a:hover {
	text-decoration: none;
	color: #DBDBDB;
}


table {
	background-color: lightgray;
	
}


*:focus {
    outline: none;
}

#fixed-controllers{
	display: table-cell;
	position:fixed;
	/*z-index:10;*/
}




div.top-spacer {
	display: table-cell;
	height: 25vh;
	width: 100vw;
	background-color: #454545;
}

div.top {
	display: table-cell;
	height: 150px;
	width: 100vw;
}

#cover-thumb {
	background-color: darkgray;
	background-size: 100% 100%;
	background-repeat: no-repeat;
/*	background-image: url('/mp3/Exodus/01 Studio/2005-Shovel Headed Kill Machine/cover-thumb.png');*/
	width: 10vw;
	min-width: 170px;
}


div.player-track-info {
	display: inline-block;
	color: #DBDBDB;
}

#audioplayer {
	background-image: linear-gradient(to right, #575758 , #121212);
	padding-left: 2vh;
	padding-top: 1vw;
}

#timeline{
	width: 20vw;
	height: 1px;
	background: #dbdbdb;
	margin-top: 1vh;
	padding-top: 2px;
}

#playhead{
	dispay:box;
	width: 10px;
	height: 10px;
	background: #42b30b;
	opacity: .95;
	border: 1px solid lightblue;
	margin-top: -5px;
	transform: rotate(45deg);
	box-shadow: 4px 1px 4px #494949;
}

div.controls {
	display: inline-block;
	padding-top: 1vh;
}

div.player-control {
	display:inline-block;
	margin-top: 1vh;
}


#search-box {
	margin:auto;
    text-align:center;
	padding-top:1.2vh;
	width: 100%;
	/*background-image: linear-gradient(to right, #6d6d6d , #dbdbdb);*/
	background-color: #242424;
	color: #DBDBDB;
	font-size: 16pt;
}

#search-results {
	height: 60vh;
	overflow: none;
	overflow-x: hidden;
	overflow-y: auto;
	/*border: 1px solid blue;*/
	display: none;
	text-align: left;
	position: fixed;
	background-color: transparent;
	font-size: 10pt;
}


table.results{
	margin:0;
	color: #242424;
	border-collapse: collapse;
	width: 100%;
	min-width: 60vw;

}

th.results {
	font-weight: bold;
	text-align: center;
	font-size: 12pt;
	/*position: relative;*/
	position: sticky;
	top:0;
    background-color:#494949;
    color: #DBDBDB;
    border-right: 2px solid green;
    /*z-index:1000000;*/
}

th.last {
	border-right: none;
}

tr.results {
	height: 1vh;
}

td.results {
    border: 1px solid #b6b6b6;
	padding-left: .5vw;
}

td.results:hover {
	background-image: linear-gradient(to right,green,#121212);
	color: #DBDBDB;
}

td.results:hover > a {
	color: #DBDBDB;
}

td.results > a:hover {
	color: #DBDBDB;
}

a.results:link {
	color: #242424;
	font-weight: normal;
}

a.results:visited {
	color: #242424;
	font-weight: normal;
}

a.results:hover {
	text-decoration: none;
	font-weight: bold;
}

::-webkit-scrollbar {
width: 4px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(8,120,8,1); 
}


/* Fix the result scroll on anchors target */
*:target::before {
  content: "";
  display: block;
  /*height: 250px;  fixed header height*/

}


#search-reduced {
	font-size: 14pt;
	text-align: center;
	width: 60vh;
	display: inline-block;
	padding-bottom: 12px;
	text-align: left;
}


#search {
	background-color: #DBDBDB;
	border: none;
	height: 40px;
	width: 88%;
	border-radius: 2px;
	padding-left: 1vw;

}


#search::placeholder { 
	font-size: 14pt;
	color: #B6B6B6; 
}


#cover-big{
	margin: 0;
	width: 100vw;
	height: 100%;
	display: inline-flex;
	/*background-image: url('/mp3/Exodus/01 Studio/2005-Shovel Headed Kill Machine/cover-big.png');*/
	
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	/*z-index: -100;*/
}

#cover-big-transparency{
	margin: 0;
	width: 100vw;
	height: 100%;
	display: inline-flex;
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-position-y: 220px;
	background-color: rgba(60,60,60,.95);	
	
}



#list {
	color: #B6B6B6;
	width: 80vw;
	height: 75vh;
	overflow-y: auto;
	overflow-x: hidden;
	-moz-scroll-behavior: smooth;
	display: inline-block;
	margin-top: 20px;

}


#play-list-area {
	padding-left: 1vw;
	margin-top: 20px;
	color: #B6B6B6;
	width: 70vw;
	display: inline-block;	
}


.playlist-content {
	background-color: transparent;
	color: #DBDBDB;
	/*border-top: 2px solid transparent;
	border-image: linear-gradient(to right,green 0%,transparent 80%);
	border-image-slice: 1;*/
	border-top: 2px solid green;
	height: 68vh;
}


div.playlist-actions {
	display: inline-block;
}

div.playlist-action{
	display: inline-block;
}

.list-artist-title {
	font-size:150%;
	font-weight: bold;
}



/* TREE OF MUSIC MATTERS */

li.album {
	padding-top: 0;
	font-size: 14pt;
	font-weight: bold;
}


div.artist-vertical-spacer{
	padding-bottom: 10%;
	display:block;
	color: transparent;
}

div.album-vertical-spacer {
	padding-top: 2%;
	padding-bottom: 0;
	height:0;
}

li.track {
	color: black;
	font-size: 13pt;
	padding-top: 1.5%;
	padding-left: 40px;
	padding-bottom: 1.5%;
	margin-left: -40px;
	transition: .3s;
	background-image: none;
}

div.track-matters {
	margin: 0;
	width: 98%;
	height: 100%;
	display: block;
}

div.track-matters-link, div.track-matters-actions{
	display: inline-block;
}

div.track-matters-link {
	width: 40%;
}

div.track-matters-actions {

}





li.track * a  {
	/*z-index: 1;*/
	transition: .3s;
	background-image: none;
}

li.track * a:link {
	text-decoration: none;
	color: #111111;
	background-image: none;
}

li.track * a:visited {
	text-decoration: none;
	color: yellow;
}

li.track * a:hover {
	text-decoration: none;
	color: #B6B6B6;
}

li.track:hover{
	background-image: url("/img/full_list_highlight.png");
	background-repeat: no-repeat;
	background-position-x: -10px;
/*	background-position-y: 15px;*/
	position: relative;
	background-size: 50% 90%;
	opacity: 1;
}


li.marked:hover{
	background-image: url("/img/full_list_highlight.png");
	background-repeat: no-repeat;
	background-position-x: -10px;
/*	background-position-y: 15px;*/
	position: relative;
	background-size: 50% 90%;
	opacity: 1;
}

li.marked{
	background-image: url("/img/full_list_selected.png");
	background-repeat: no-repeat;
	background-position-x: -10px;
/*	background-position-y: 15px;*/
	position: relative;
	background-size: 50% 90%;
	opacity: 1;
}

div.marked-control{

	width: 170px;
  	height: 70px;
  	border-radius: 0 0 50% 50%;
  	font-size: 10pt;
  	font-weight: bolder;
  	text-align: center;
	background-color: #242424;
	/*background-color: yellow;*/
	color: green;
	margin-top: -60px;
	opacity: 0;
	transition: .3s;
}


div.marked-control:hover{
	background-color: rgba(36,36,36,.8);
}

div#marked-display{
	transition: .3s;
}

div.action > a {
	color: green;
}

a.marked:link,
a.marked:visited,
a.marked:hover {
	color: green;
	transition: .3s;
}

a.marked:hover {
	font-size: 12pt;	
	transition: .3s;
	text-shadow: 1px 1px 3px green;
}


div#marked-counter {
	display: inline-block;
	font-weight: bolder;
	font-size: 16pt;
	transition: .3s;
}

div.markded-action{
	font-size: 4pt;
	transition: .3s;
}


/* TREE MARK CHECKBOX */

/*label.track {
		
	border: 1px solid red;
}

#list input[type="checkbox"].tree-track {
    opacity: 0;
    transition: .3s;
}

#list input[type=checkbox].tree-track + label {
	margin: 0;
	padding:0;
    line-height: 32px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 13em 7em;         
    border-color: green;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: .3s;
}


#list input[type="checkbox"].tree-track:checked + label {
    color: #DBDBDB;
    transition: .3s;
    background-image: url("/img/full_list_selected.png");
}
*/



div.alert-background {
	width: 100vw;
	height: 11vw;
	/*background-image: linear-gradient(90deg, yellow 0%, #6d6204 80%);*/
	position: absolute;
	top: -100px;
	text-align: center;
	font-size: 40pt;
	padding-top: 6%;
	background-color: rgba(109,98,4,0);
	opacity:0;
	transition: .3s
}


div.alert-text {
	font-size: 40pt;
	width: 100%;
	border: 1px solid red;
	margin-top: 7%;
	color: white;
	position: relative;
	transition: .3s
}


/* PLAYLIST MATTERS */
table.playlist {
	width:100%;
	background-color: rgba(100,100,100,0.7);
	border-collapse: collapse;
}

tr.playlist {
	border: none;
	height: 3vh;
	transition: .3s;
}

tr.playlist:hover {
	border: none;
	filter: invert();
	background-color: rgba(0,193,68,0.7);
	color: #242424;
	cursor: pointer;
}

th.playlist {
	text-align: left;	
	font-size: 12pt;
	font-weight: bold;
	background-color: #252525;
	border: none;
	height: 5vh;
	padding: 1.5%;
	position: sticky;
	top:0;
}

th.playlist th.first {
	left-padding: 2px;
}

th.playlist th.last {
	right-padding: 2px;
}







